.BoardWriteForm {
  margin: 50px auto;
  text-align: center;
}

.BoardWriteForm form{
  display: inline-block;
}

.BoardWriteForm  table {
  border-collapse: collapse;
}

.BoardWriteForm table th, .BoardWriteForm td{
  padding: 5px;

}

.BoardWriteForm #subjectDiv, .BoardWriteForm #contentDiv{
  text-align: left;
  color: red;
  font-size: 8pt;
  font-weight: bold;
}

.BoardWriteForm div{
  color:red;
  font-weight: bold;
}
